In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("iphone.csv")
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

### The column names have spaces.Renaming the column names to have underscore '_' instead of space

In [5]:
df.columns=df.columns.str.replace(' ','_')
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

### Star rating for some of the models is missing in the dataset. filling those missing values with the average rating all the models.

In [6]:
avg=df['Star_Rating'].mean(skipna=True)
df['Star_Rating'].fillna(value=avg)

0     4.600000
1     4.600000
2     4.600000
3     4.576271
4     4.500000
        ...
57    4.500000
58    4.600000
59    4.600000
60    4.600000
61    4.600000
Name: Star_Rating, Length: 62, dtype: float64

### Now instead of filling missing values with avg rating of full dataset , fill with avg rating based on RAM. example : if rating for a 2 gb phone is missing then taking the average of all other 2 gb phones rating and fill that value.

In [7]:
df_ram_avg=df.groupby('Ram',as_index=False).agg({'Star_Rating':'mean'})
df_merged=pd.merge(df,df_ram_avg,how='inner',on='Ram')
df_merged['Star_Rating_x'].fillna(value=df_merged['Star_Rating_y'],inplace=True)
df_merged.drop(columns='Star_Rating_y',inplace=True)
df_merged.columns=df.columns
df_merged['Star_Rating']=df_merged['Star_Rating'].round(2)
df_merged

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.60,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.60,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.60,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,4.54,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.50,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone 12 (Red, 128 GB)",https://www.flipkart.com/apple-iphone-12-red-1...,Apple,75900,84900,2101,180,MOBFWBYZUHPFWQRD,4.60,6 GB
58,"APPLE iPhone 12 Pro (Pacific Blue, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-p...,Apple,110900,119900,545,42,MOBFWBYZXYSCEEEH,4.50,6 GB
59,"APPLE iPhone 12 Pro Max (Pacific Blue, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,120900,129900,580,45,MOBFWBYZZABKHZQA,4.60,6 GB
60,"APPLE iPhone 12 Pro Max (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,130900,139900,580,45,MOBFWBYZZH4AM8FE,4.60,6 GB
61,"APPLE iPhone 12 Pro Max (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,130900,139900,580,45,MOBFWBYZZPW8JHQF,4.60,6 GB

### Creating a new column in the dataframe "Discount_Percentage" based on MRP and sale value

In [8]:
df['Discount_Percentage']=(((df['Mrp']-df['Sale_Price'])/df['Mrp'])*100).round(2)
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Discount_Percentage
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,0.00
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,0.00
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,0.00
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB,0.00
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,0.00
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,24.81
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB,14.39
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB,14.39
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB,14.39
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB,14.39

### Model has highest percent discount ?

In [9]:
df.loc[df['Discount_Percentage']==df['Discount_Percentage'].max(),['Product_Name','Discount_Percentage']]

                                   Product_Name  Discount_Percentage
18  APPLE iPhone 11 Pro (Midnight Green, 64 GB)                29.64

### Total no of models each space configuration (128 GB , 64 GB etc)

In [10]:
def extract_space_configuration(Product_Name):
    parts=Product_Name.split('(')
    if len(parts)>1:
        part=parts[1].strip()
        if ',' in part:
            space_part=part.split(',')
            space=space_part[1].strip()
            space_conf=space[:len(space)-1]
            return space_conf
    return None
df['Space_Configuration']=df['Product_Name'].apply(extract_space_configuration)
df_space_conf=df['Space_Configuration'].value_counts().reset_index()
df_space_conf

  Space_Configuration  count
0              128 GB     24
1               64 GB     20
2              256 GB     14
3              512 GB      4

7- find total number of models for each color

In [11]:
def extract_color(Product_Name):
    parts=Product_Name.split('(')
    if len(parts)>1:
        part=parts[1].strip()
        if ',' in part:
            color_part=part.split(',')
            color=color_part[0].strip()
            return color
    return None
df['iPhone_color']=df['Product_Name'].apply(extract_color)
df_color_count=df['iPhone_color'].value_counts().reset_index()
df_color_count

      iPhone_color  count
0            Black     10
1            White     10
2           Silver      7
3             Gold      6
4       Space Grey      6
5              Red      5
6   Midnight Green      4
7     Pacific Blue      4
8         Graphite      4
9             Blue      2
10             RED      1
11           Coral      1
12           Green      1
13          Purple      1

### Total number of models by iphone version : eg
#### iPhone 8: 9
#### iPhone XR : 5
#### so on..

In [12]:
def extract_version(Product_Name):
    parts=Product_Name.split('iPhone')
    if len(parts)>1:
        part=parts[1].strip()
        if ' ' in part:
            version_part=part.split(' ')
            version=version_part[0].strip()
            return 'iPhone '+version
    return None
df['Version']=df['Product_Name'].apply(extract_version)
df_version_count=df['Version'].value_counts().reset_index()       
df_version_count

     Version  count
0  iPhone 12     26
1  iPhone 11     16
2   iPhone 8      8
3  iPhone SE      6
4  iPhone XR      5
5  iPhone XS      1

### Top 5 models having highest no of reviews

In [13]:
df_sorted=df.sort_values(by='Number_Of_Reviews',ascending=False).head(5).reset_index(drop=True)
df_sorted.loc[:,['Product_Name','Number_Of_Reviews']]

                      Product_Name  Number_Of_Reviews
0  Apple iPhone SE (White, 256 GB)               8161
1  APPLE iPhone SE (Black, 128 GB)               8161
2    APPLE iPhone SE (Red, 128 GB)               8161
3   APPLE iPhone SE (Black, 64 GB)               8161
4   APPLE iPhone SE (White, 64 GB)               8154

### The price diffrence between highest price and lowest price iphone (based on mrp)

In [14]:
price_diff=df['Mrp'].max()-df['Mrp'].min()
print(f"Price difference between min price and max price is {price_diff}")

Price difference between min price and max price is 110000

### Total no of reviews for iphone 11 and iphone 12 category . Output should have only 2 rows (for 11 and 12).

In [15]:
# 1st approach
df['category']='other'
df.loc[df['Product_Name'].str.contains('iPhone 11'),'category']='iPhone 11'
df.loc[df['Product_Name'].str.contains('iPhone 12'),'category']='iPhone 12'
df_category=df[df['category'].isin(['iPhone 11','iPhone 12'])]
df_category.groupby('category',as_index=False)['Number_Of_Reviews'].sum()

# 2nd approach
iPhone_11=df.loc[df['Product_Name'].str.contains('iPhone 11'),'Number_Of_Reviews'].sum()
iPhone_12=df.loc[df['Product_Name'].str.contains('iPhone 12'),'Number_Of_Reviews'].sum()
df_total_no_of_reviews=pd.DataFrame({'Category':['iPhone 11','iPhone 12'],'Number_Of_Reviews':[iPhone_11,iPhone_12]})
df_total_no_of_reviews

    Category  Number_Of_Reviews
0  iPhone 11              25965
1  iPhone 12               2208

### iPhone has 3rd highest MRP

In [16]:
df_mrp_sorted=df.sort_values(by='Mrp',ascending=False).reset_index(drop=True)
Third_highest_product=df_mrp_sorted.loc[2,['Product_Name','Mrp']]
Third_highest_product

Product_Name    APPLE iPhone 11 Pro (Midnight Green, 512 GB)
Mrp                                                   140300
Name: 2, dtype: object

### The average mrp of iphones which costs above 100,000

In [17]:
average_mrp=df.loc[df['Mrp']>100000,'Mrp'].mean().round()
print(f"The average mrp of iphones which costs above 100,000 is {average_mrp}")

The average mrp of iphones which costs above 100,000 is 130559.0

### iPhone with 128 GB space has highest ratings to review ratio

In [30]:
# 1st approach:
df['Ratings_To_Review_Ratio']=(df['Number_Of_Ratings']/df['Number_Of_Reviews']).round(2)
df_128GB=df[df['Product_Name'].str.contains('128 GB')]
highest_ratio_iphone=df_128GB.loc[df_128GB['Ratings_To_Review_Ratio'].idxmax()]
highest_ratio_iphone['Product_Name']

#2nd approach:
df['Ratings_To_Review_Ratio']=(df['Number_Of_Ratings']/df['Number_Of_Reviews']).round(2)
df_128GB=df[df['Product_Name'].str.contains('128 GB')]
df_sorted=df_128GB.sort_values(by='Ratings_To_Review_Ratio',ascending=False).reset_index(drop=True)
df_sorted.loc[0,['Product_Name','Ratings_To_Review_Ratio']]

Product_Name               APPLE iPhone 11 (Black, 128 GB)
Ratings_To_Review_Ratio                              13.05
Name: 0, dtype: object